*.iml
/local.properties

.idea/
/.idea/caches

/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

/build

/captures

.externalNativeBuild

.cxx
.gradle/

.gradle/6.1.1/
build/